In [1]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

In [2]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [4]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [5]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                      optimizer = tf.optimizers.Adam())

In [6]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 3s 4ms/step - loss: 68.7834
Epoch 2/10
104/104 [==============================] - 0s 4ms/step - loss: 12.9458
Epoch 3/10
104/104 [==============================] - 0s 3ms/step - loss: 8.6751
Epoch 4/10
104/104 [==============================] - 0s 3ms/step - loss: 8.1765
Epoch 5/10
104/104 [==============================] - 0s 3ms/step - loss: 7.7346
Epoch 6/10
104/104 [==============================] - 0s 3ms/step - loss: 7.3825
Epoch 7/10
104/104 [==============================] - 0s 3ms/step - loss: 7.0881
Epoch 8/10
104/104 [==============================] - 0s 4ms/step - loss: 6.8611
Epoch 9/10
104/104 [==============================] - 0s 3ms/step - loss: 6.7135
Epoch 10/10
104/104 [==============================] - 0s 3ms/step - loss: 6.5862

In [7]:
normalize = layers.Normalization()

In [8]:
normalize.adapt(abalone_features)

In [9]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 3ms/step - loss: 93.7681
Epoch 2/10
104/104 [==============================] - 0s 3ms/step - loss: 55.7954
Epoch 3/10
104/104 [==============================] - 0s 3ms/step - loss: 17.4808
Epoch 4/10
104/104 [==============================] - 0s 3ms/step - loss: 5.9032
Epoch 5/10
104/104 [==============================] - 0s 3ms/step - loss: 5.0109
Epoch 6/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9667
Epoch 7/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9275
Epoch 8/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9191
Epoch 9/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9138
Epoch 10/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9171

In [10]:
normalize.adapt(abalone_features)

In [11]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 3ms/step - loss: 94.5555
Epoch 2/10
104/104 [==============================] - 0s 3ms/step - loss: 56.7607
Epoch 3/10
104/104 [==============================] - 0s 3ms/step - loss: 17.9760
Epoch 4/10
104/104 [==============================] - 0s 3ms/step - loss: 5.9766
Epoch 5/10
104/104 [==============================] - 0s 4ms/step - loss: 5.0688
Epoch 6/10
104/104 [==============================] - 0s 3ms/step - loss: 5.0050
Epoch 7/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9798
Epoch 8/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9783
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9522
Epoch 10/10
104/104 [==============================] - 0s 3ms/step - loss: 4.9555

In [12]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [13]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

In [14]:
# Create a symbolic input
input = tf.keras.Input(shape=(), dtype=tf.float32)

# Perform a calculation using the input
result = 2*input + 1

# the result doesn't have a value
result

In [15]:
calc = tf.keras.Model(inputs=input, outputs=result)

In [16]:
calc = tf.keras.Model(inputs=input, outputs=result)

In [17]:
print(calc(1).numpy())
print(calc(2).numpy())

3.0
5.0

In [18]:
inputs = {}

for name, column in titanic_features.items():
  dtype = column.dtype
  if dtype == object:
    dtype = tf.string
  else:
    dtype = tf.float32

  inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)

inputs

{'sex': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'sex')>,
 'age': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'age')>,
 'n_siblings_spouses': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'n_siblings_spouses')>,
 'parch': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'parch')>,
 'fare': <KerasTensor: shape=(None, 1) dtype=float32 (created by layer 'fare')>,
 'class': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'class')>,
 'deck': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'deck')>,
 'embark_town': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'embark_town')>,
 'alone': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'alone')>}